.roboto-mono-text {
  
}

nav{
  font-size: 12px;
  width: 100%;
  background-color: #2c2c2c;
  position: fixed;
  top: 0;
}

body{
  font-family: roboto;
  background-color: #0c0f0a;
  color: white;

  font-family: "Roboto Mono", serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
a{
  color: blue;
  text-decoration: none;
}
p{
  font-size: 15px;
}

a:visited{
  color: blue;
}
a:hover{
  color: #ADD8E6;
  text-decoration: underline;
}

button{
  border: white solid 1px;
  color: white;
  background-color: #0c0f0a;
}
button:hover{
  border: white solid 1px;
  color: #0c0f0a;
  background-color: white;
}