.roboto-mono-text {
  
}

body{
  font-family: roboto;
  background-color: #0c0f0a;
  color: white;

  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* a{
  color: #F4CE14
} */