<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'/'+${board.codeName}+'/ - '+${board.name}"></title>
</head>
<body>
    <h2 th:text="'/'+${board.codeName}+'/ - '+${board.name}"></h2>

    <a th:href="@{/home}">Return to Home Page</a>
    <div th:each="thread:${threads}">
      <a th:href="@{/{codeName}/thread/{postNumber}(postNumber=${thread.threadDTO.postNumber}, codeName=${board.codeName})}" th:text="'>>'+${thread.threadDTO.postNumber}"></a>
      <p th:text="${thread.threadDTO.title}"></p>
      <p th:text="${thread.threadDTO.nickname}"></p>
      <p th:text="${thread.threadDTO.uploadedAt}"></p>
      <p th:text="${thread.threadDTO.content}"></p>
      <div th:each="filename:${thread.threadDTO.mediaFilenames}">
        <img th:src="'image/'+${filename}" style="max-width: 310px; height: 310px"/>
        <a th:href="@{image/{filename}(filename = ${filename})}" target="_blank" th:text="${filename}"></a>
      </div>
      <p th:text="'Replies: '+${thread.threadDTO.numberOfReplies}"></p>
      <p th:text="'Images: '+${thread.threadDTO.numberOfMedia}"></p>

      <div th:each="response:${thread.replies}">
        <a th:href="${board.codeName}+'/thread/'+${thread.threadDTO.postNumber}+'#'+${response.postNumber}" th:text="'>>'+${response.postNumber}"></a>
        <p th:text="${response.nickname}"></p>
            <p th:text="${response.uploadedAt}"></p>
            <p th:text="${response.content}"></p>
            
            <div th:each="filename:${response.mediaFilenames}">
              <img th:src="'image/'+${filename}" style="max-width: 310px; height: 310px"/>
              <a th:href="@{image/{filename}(filename = ${filename})}" target="_blank" th:text="${filename}"></a>
            </div>
      </div>
   </div>
   <!--
   <span th:each="i : ${#numbers.sequence( 1, numberOfPages)}">
		<a th:href="@{/posts/{page}(page=${i})}" th:text="${i}"></a>
   </span> -->
   <!--TODO add next and previous button-->
</body>
</html>