<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'/'+${board.codeName}+'/ - '+${board.name}"></title>
  </head>
  <body>
    <h2 th:text="'/'+${board.codeName}+'/ - '+${board.name}"></h2>
    <a th:href="@{/}">Return to Home Page</a> 

<!-- FORM -->
<!-- FORM -->
<!-- FORM -->
 
  <form action="#" th:action="@{/uploadThread}" method="post" enctype="multipart/form-data" class="form">
    <input type="hidden" th:value="${board.id}" name="boardId" id="boardId">
    <label for="title">Title</label>
    <input type="text" name="title" id="title"><br/>
    <label for="nickname">Nickname</label>
    <input type="text" name="nickname" id="nickname"><br/>
    <label for="content">Content</label>
    <input type="text" name="content" id="content"><br/>
    <label for="images">Upload image</label>
    <input type="file" name="images" id="images" multiple><br/>
    <button type="submit">Upload</button>
  </form>

  <hr/>

<!-- RENDER THREADS -->
<!-- RENDER THREADS -->
<!-- RENDER THREADS -->

    <div th:each="thread:${threads}">
      <a th:href="@{/{codeName}/thread/{postNumber}(postNumber=${thread.threadDTO.postNumber}, codeName=${board.codeName})}" th:text="'>>'+${thread.threadDTO.postNumber}"></a>
      <form th:action="@{/deletePost}" method="post">
        <input type="hidden" name="postId" th:value="${thread.threadDTO.id}">
        <input type="hidden" name="boardCode" th:value="${board.codeName}">
        <button type="submit">🗑️</button>
      </form>
      
      <p th:text="${thread.threadDTO.title}"></p> <!--CHANGE >>1345 TO VIEW THREAD BUTTON-->
      <p th:text="${thread.threadDTO.nickname}"></p>
      <p th:text="${thread.threadDTO.uploadedAt}"></p>
      <p th:text="${thread.threadDTO.content}"></p>
      <div th:each="filename:${thread.threadDTO.mediaFilenames}">
        <img th:src="'/image/'+${filename}" style="max-width: 310px; height: 310px"/>
        <a th:href="@{/image/{filename}(filename = ${filename})}" target="_blank" th:text="${filename}"></a>
      </div>
      <p th:text="'Replies: '+${thread.threadDTO.numberOfReplies}"></p>
      <p th:text="'Images: '+${thread.threadDTO.numberOfMedia}"></p>

      <div th:each="response:${thread.replies}">
        <div class="thread">
          <a th:href="'/'+${board.codeName}+'/thread/'+${thread.threadDTO.postNumber}+'#'+${response.postNumber}" th:text="'>>'+${response.postNumber}"></a>
          <form th:action="@{/deletePost}" method="post">
            <input type="hidden" name="postId" th:value="${response.id}">
            <input type="hidden" name="boardCode" th:value="${board.codeName}">
            <button type="submit">🗑️</button>
          </form>
          <p th:text="${response.nickname}"></p>
          <p th:text="${response.uploadedAt}"></p>
          <p th:text="${response.content}"></p>
          <div th:each="filename:${response.mediaFilenames}">
            <img th:src="'/image/'+${filename}" style="max-width: 310px; height: 310px"/>
            <a th:href="@{/image/{filename}(filename = ${filename})}" target="_blank" th:text="${filename}"></a>
          </div>
        </div>
      </div>
   </div>
   
   <span th:if="${previousPage}"><a th:href="${previousPage}">Prev</a></span>
   <span th:each="i : ${#numbers.sequence( 1, numberOfPages)}">
		<span th:if="${i == currentPage}" th:text="${i}"></span>
    <a th:if="${i != currentPage}" th:href="@{/{codeName}/{page}(page=${i}, codeName=${board.codeName})}" th:text="${i}"></a>
   </span>
   <span th:if="${nextPage}"><a th:href="${nextPage}">Next</a></span>
   <!--TODO add next and previous button-->
</body>
</html>