<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page</h1>
    <form action="#" th:action="@{/uploadReply}" method="post" enctype="multipart/form-data">
        <label for="nickname">Nickname</label>
        <input type="text" name="nickname" id="nickname"><br/>
        <label for="content">Content</label>
        <input type="text" name="content" id="content"><br/>
		
		<label for="threadId">ThreadId</label>
        <input type="text" name="threadId" id="threadId"><br/>

        <label for="images">Upload image</label>
        <input type="file" name="images" id="images" multiple><br/>
        <button type="submit">Upload</button>
    </form>
</body>
</html>