<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>All main posts</h2>
   <div th:each="post:${posts}">
		<a th:href="@{/thread/{id}(id=${post.id})}" th:text="'>>'+${post.id}"></a>
        <p th:text="${post.title}"></p>
        <p th:text="${post.nickname}"></p>
        <p th:text="${post.creationDateTime}"></p>
        <p th:text="${post.content}"></p>
        <img th:src="'image/'+${post.fileName}" style="max-width: 310px; height: 310px"/>
        <a th:href="@{image/{filename}(filename = ${post.fileName})}" target="_blank" th:text="${post.fileName}"></a>
		
		<div th:each="response:${post.responses}">
			<a th:href="@{/thread/{id}(id=${response.id})}" th:text="'>>'+${response.id}"></a>
			<p th:text="${response.title}"></p>
	       	<p th:text="${response.nickname}"></p>
	       	<p th:text="${response.creationDateTime}"></p>
	       	<p th:text="${response.content}"></p>
	       	<img th:src="'image/'+${response.fileName}" style="max-width: 310px; height: 310px"/>
	       	<a th:href="@{image/{filename}(filename = ${response.fileName})}" target="_blank" th:text="${response.fileName}"></a>
		</div>
   </div>
   
   <span th:each="i : ${#numbers.sequence( 1, numberOfPages)}">
		<a th:href="@{/posts/{page}(page=${i})}" th:text="${i}"></a>
   </span>
   <!--TODO add next and previous button-->
</body>
</html>