<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${'/'+boardCodeName+'/ - '+thread.threadDTO.title}"></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/homeBoardStyle.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap" rel="stylesheet">
    
</head>
<body>

  <nav class="nav">
    <span>
      [
      <a href="/"><img src="/static/images/icons/home_icon.png" alt="" width="22" height="22"></a>
      <span th:each="board:${boardList}">
        /
        <a th:href="${'/'+board.codeName}" th:text="${board.codeName}"></a>
      </span>
      /
      <a href="/admin/board"><img src="/static/images/icons/gear_icon.png" alt="" width="22" height="22"></a> <!--vertical-align: middle -->
      ]
    </span>
    <span>
      [
      <a href="#">Top</a>
      /
      <a href="#footer">Bottom</a>
      ]
    </span>
      
  </nav>

  <div class="container pt-5 mb-4 d-flex justify-content-center">
    <h2 th:text="${'/'+boardCodeName+'/'+thread.threadDTO.postNumber}"></h2>
  </div>

 
  <!--     <a th:href="${'/'+boardCodeName+'/'}">Return board</a> -->

  <!-- FORM -->
  <!-- FORM -->
  <!-- FORM -->
  <div class="container d-flex justify-content-center">
    <form action="#" th:action="@{/uploadReply}" method="post" enctype="multipart/form-data">
      <input type="hidden" th:value="${thread.threadDTO.id}" name="threadId" id="threadId">
      <table>
        <tr>
          <td><label for="nickname">Nickname</label></td>
          <td><input type="text" name="nickname" id="nickname"></td>
        </tr>
        <tr>
          <td><label for="content">Comment</label></td>
          <td><textarea name="content" id="content"></textarea></td>
        </tr>
        <tr>
          <td><label for="images">Upload images</label></td>
          <td><input type="file" name="images" id="images" multiple></td>
        </tr>
        <tr>
          <td>Upload reply</td>
          <td><button type="submit">Reply</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <br>
  <hr>

  <!-- RENDER THREAD -->
  <!-- RENDER THREAD -->
  <!-- RENDER THREAD -->

  <div class="container mx-1">
    <div class="thread">
      <form th:action="@{/deletePost}" method="post">
        <input type="hidden" name="postId" th:value="${thread.threadDTO.id}">
        <input type="hidden" name="boardCode" th:value="${boardCodeName}">
        <button type="submit">🗑️</button>
      </form>
      <div class="container d-flex flex-wrap">
        <div th:each="filename:${thread.threadDTO.mediaFilenames}" class="mx-2">
          <a th:href="@{https://drive.google.com/file/d/{filename}/view(filename = ${filename})}" target="_blank" th:text="${#strings.abbreviate(filename,20)}" th:title="${filename}"></a>
          <br>
          <img th:src="${'https://drive.google.com/thumbnail?id='+filename+'&sz=w270'}">
        </div>
      </div>

      <span th:text="${thread.threadDTO.title}" class="postTitle"></span>
      <span th:text="${thread.threadDTO.nickname}" class="postNickname"></span>
      <span th:text="${thread.threadDTO.uploadedAt}" class="postDate"></span>
      <a th:href="@{/{codeName}/thread/{postNumber}(postNumber=${thread.threadDTO.postNumber}, codeName=${boardCodeName})}" th:text="'>>'+${thread.threadDTO.postNumber}"></a>
      <p th:text="${thread.threadDTO.content}" class="my-4 text-break"></p>    
    </div>

      <!-- RENDER REPLIES -->
      <!-- RENDER REPLIES -->
      <!-- RENDER REPLIES -->
  
    <div th:each="response:${thread.replies}" class="response">
      <div class="container d-flex flex-wrap">
        <p th:each="filename:${response.mediaFilenames}" class="mx-2">
          <a th:href="@{https://drive.google.com/file/d/{filename}/view(filename = ${filename})}" target="_blank" th:text="${#strings.abbreviate(filename,20)}" th:title="${filename}"></a>
          <br>
          <img th:src="${'https://drive.google.com/thumbnail?id='+filename+'&sz=w270'}">
        </p>
      </div>
  
      <div th:id="${response.postNumber}">
        <div class="container mx-2">
          <spam th:text="${response.nickname}" class="postNickname"></spam>
          <spam th:text="${response.uploadedAt}" class="postDate"></spam>
          <a th:href="${boardCodeName}+'/thread/'+${thread.threadDTO.postNumber}+'#'+${response.postNumber}" th:text="'>>'+${response.postNumber}"></a>
        </div>
        <form th:action="@{/deletePost}" method="post" class="container mx-2 my-2">
          <input type="hidden" name="postId" th:value="${response.id}">
          <input type="hidden" name="boardCode" th:value="${boardCodeName}">
          <button type="submit">🗑️</button>
        </form>

        <div class="container mx-2 my-4">
          <p th:text="${response.content}" class="text-break"></p>
        </div>
      </div>
    </div>

    <div class="my-5">
      <footer id="footer"></footer>
    </div>
  </div>
</body>
</html>